* {
    background-color: #F9FAF8;
    padding: 0;
    margin: 0;
    font-family: 'Gadugi', sans-serif;
    font-size: 20px;
}


.main {
    display: flex;
}

.left-photo {
    width: 30%;

}


.right {

    width: 70%;
    --main-fontweight: bold;

}



.description {
    margin-left: 20px;
    margin-top: 50px;
    line-height: 30px;
    font-weight: var(--main-fontweight)
}

.description2 {
    padding-top: 20px;
    
}


.container{
    margin-left: 20px;
}

.signblock {
    border: none;
}

.signup p{
    font-weight: var(--main-fontweight)
}


.signup {
    margin-bottom: 40px;
    margin-top: 40px;
    border-left: none;
    border-right: none;
    line-height: 30px;
}

.signup label{
    text-transform: capitalize;
    font-size: 16px;
    border: none;
    

}



.basic-info{
    display: flex;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-right: 600px;
}

.col {
    margin-left: 75px;
    display: block;
    
}




.btn-container,
.sign-in.container {
    padding-top: 15px;
}

