* {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

html {
    font-size: 20px;
    height: 100vh;
    background-color: rgb(192, 214, 192);
    /* overflow: hidden; */
}

body {
    display: flex;
}

.left {
    width: 20%;
    background-color: rgb(161, 180, 161);
}

.back-button {
    display: flex;
    justify-content: right;
    padding: 15px;
    margin-top: 120px;
}

.back-button button {
    font-size: 18px;
    font-style: italic;
    border: none;
    background-color: rgb(167, 187, 167);
    border-radius: 9px;
    padding: 10px 20px;
    border: none;


}

.back-button button:hover {
    cursor: grab;
    background-color: rgb(140, 158, 140);
    transition: 0.2s;

}

.right {
    border: 2px solid green;
    height: 100vh;
    width: 80%
}


.catergories {
    padding: 20px;
    display: grid;
    text-align: right;
    row-gap: 5%;
    /* position: fixed;
    left: 185px;
    top: 220px; */

}



.main.right {
    display: inline-grid;
    grid-template-columns: repeat(autofit);
    height: 100%;
}

.main.right>div {
    border: 1px solid blue;
}

#searchbar {
    height: 15vh;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 5;

}

#products_cards {
    height: 150vh;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 10;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4fr 4fr 4fr 4fr;
    gap: 10px;
    padding: 20px 150px 20px 150px;
    column-gap: 75px;
}

.product_image {
    background-position: center;
    height: 150px;
    width: 285px;
    margin: 10px;
    overflow: hidden;
    border-radius: 20px;
}

h3{
    text-align: center;
}

p {
    text-align: left;
    font-size: 15px;
    padding: 2px 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 60px;
    margin-bottom: 10px;
}

.card_controls {
    height: 35px;
    width: 95%;
    display: flex;
    justify-content: flex-end;

}

#products_cards>div {
    border: 1px solid rgb(121, 134, 121);
    border-radius: 20px;
    max-width: 305px;
    
    
}

.card_controls img{
    height: 25px;
    width: auto;
    margin: 0px 10px 0px 10px;
}


#products_cards>div:hover {
    box-shadow: 0px 2px 10px rgba(0,0,0,0.25);
    transition: all 0.5s;
    outline: 2px solid  rgb(152, 185, 152);
    
}


